In [2]:
import pandas as pd
import numpy as np
import statistics as st

df = pd.read_csv('loan.csv')

print(df.shape)

(500, 15)

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         500 non-null    int64
 1   Loan_ID            500 non-null    object
 2   Gender             491 non-null    object
 3   Married            497 non-null    object
 4   Dependents         488 non-null    object
 5   Education          500 non-null    object
 6   Self_Employed      473 non-null    object
 7   ApplicantIncome    500 non-null    int64
 8   CoapplicantIncome  500 non-null    float64
 9   LoanAmount         482 non-null    float64
 10  Loan_Amount_Term   486 non-null    float64
 11  Credit_History     459 non-null    float64
 12  Property_Area      500 non-null    object
 13  Loan_Status        500 non-null    object
 14  Total_Income       500 non-null    object
dtypes: float64(4), int64(2), object(9)
memory usage: 58.7+ KB
None

In [4]:
df.mean()

/tmp/ipykernel_47264/3698961737.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

Unnamed: 0            249.500000
ApplicantIncome      5493.644000
CoapplicantIncome    1506.307840
LoanAmount            144.020747
Loan_Amount_Term      342.543210
Credit_History          0.843137
dtype: float64

In [5]:
df.max()

/tmp/ipykernel_47264/1151452817.py:1: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.max()

Unnamed: 0                    499
Loan_ID                  LP002602
Education            Not Graduate
ApplicantIncome             81000
CoapplicantIncome         20000.0
LoanAmount                  700.0
Loan_Amount_Term            480.0
Credit_History                1.0
Property_Area               Urban
Loan_Status                     Y
Total_Income            $9,993.00
dtype: object

In [6]:
df.min()

/tmp/ipykernel_47264/3962516015.py:1: FutureWarning: The default value of numeric_only in DataFrame.min is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.min()

Unnamed: 0                   0
Loan_ID               LP001002
Education             Graduate
ApplicantIncome            150
CoapplicantIncome          0.0
LoanAmount                17.0
Loan_Amount_Term          12.0
Credit_History             0.0
Property_Area            Rural
Loan_Status                  N
Total_Income         $1,442.00
dtype: object

In [7]:
df.median()

/tmp/ipykernel_47264/530051474.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.median()

Unnamed: 0            249.5
ApplicantIncome      3854.0
CoapplicantIncome    1125.5
LoanAmount            126.5
Loan_Amount_Term      360.0
Credit_History          1.0
dtype: float64

In [10]:
df.std()

/tmp/ipykernel_47264/3390915376.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.std()

Unnamed: 0            144.481833
ApplicantIncome      6515.668972
CoapplicantIncome    2134.432188
LoanAmount             82.344919
Loan_Amount_Term       63.834977
Credit_History          0.364068
dtype: float64

In [11]:
print(df.loc[:,'LoanAmount'].mean())

144.0207468879668

In [12]:
df.mean(axis = 1)[0:5]

/tmp/ipykernel_47264/369270116.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean(axis = 1)[0:5]

0    1242.000000
1    1096.833333
2     571.500000
3     904.166667
4    1084.333333
dtype: float64

In [13]:
print(df.loc[:,'LoanAmount'].median())

126.5

In [14]:
df.median(axis = 1)[0:5]

/tmp/ipykernel_47264/1941941222.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median(axis = 1)[0:5]

0      1.0
1    244.0
2     34.0
3    240.0
4     72.5
dtype: float64

In [15]:
df.var()

/tmp/ipykernel_47264/1568254755.py:1: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.var()

Unnamed: 0           2.087500e+04
ApplicantIncome      4.245394e+07
CoapplicantIncome    4.555801e+06
LoanAmount           6.780686e+03
Loan_Amount_Term     4.074904e+03
Credit_History       1.325456e-01
dtype: float64

In [16]:
df[["Gender","LoanAmount"]].groupby("Gender").mean()

        LoanAmount
Gender
Female  121.068182
Male    147.197403

In [17]:
df[["Gender","LoanAmount"]].groupby("Gender").median()

        LoanAmount
Gender
Female       115.5
Male         128.0

In [18]:
df[["Self_Employed","LoanAmount"]].groupby("Self_Employed").mean()

               LoanAmount
Self_Employed
No             141.836735
Yes            155.312500

In [19]:
import pandas as pd
data = pd.read_csv("Iris.csv")
print('Iris-setosa')
setosa = data['Species'] == 'Iris-setosa'
print(data[setosa].describe())

Iris-setosa
             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000

In [20]:
print('\nIris-versicolor')
setosa = data['Species'] == 'Iris-versicolor'
print(data[setosa].describe())

Iris-versicolor
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000      50.000000     50.000000      50.000000     50.000000
mean    75.50000       5.936000      2.770000       4.260000      1.326000
std     14.57738       0.516171      0.313798       0.469911      0.197753
min     51.00000       4.900000      2.000000       3.000000      1.000000
25%     63.25000       5.600000      2.525000       4.000000      1.200000
50%     75.50000       5.900000      2.800000       4.350000      1.300000
75%     87.75000       6.300000      3.000000       4.600000      1.500000
max    100.00000       7.000000      3.400000       5.100000      1.800000

In [21]:
print('\nIris-verginica')
setosa = data['Species'] == 'Iris-verginica'
print(data[setosa].describe())

Iris-verginica
        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  0.0            0.0           0.0            0.0           0.0
mean   NaN            NaN           NaN            NaN           NaN
std    NaN            NaN           NaN            NaN           NaN
min    NaN            NaN           NaN            NaN           NaN
25%    NaN            NaN           NaN            NaN           NaN
50%    NaN            NaN           NaN            NaN           NaN
75%    NaN            NaN           NaN            NaN           NaN
max    NaN            NaN           NaN            NaN           NaN